html {

    background-image: linear-gradient(#080846, #28b4e2);

    height: 120%;

}


body {

    border: 1px solid white;
    height: auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

header {

    display: flex;
    justify-content: space-between;
    background: red;
    margin-left: auto;
    margin-right: auto;
}

header a {

    font-size: 50px;
    padding-top: 80px;
    padding-right: 50px;

}

header p {

    font-family: 'jokerman', sans-serif;
    color: yellow;
    font-size: 50px;
}

.form-main {

    font-size: 25px;
    background-image: url(images/form-background.jpg);
    background-size: cover;
    padding-top: 350px;
    padding-left: 300px;

}

.mybutton {

    width: 200px;
    height: 30px;
}
